.borderRadius(@radius){
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

.board {
    .left {

    }

    .main {

    }
}

.list {

}

.listitem {
    list-style: none;
    span {
        vertical-align: middle;
    }
}

.listitemBadge {
    display: inline-block;
    height: 1em;
    width: 0.5em;
    margin: 0 0.25em;
    .borderRadius(0.25em);
    vertical-align: middle;
}