@model AgileKitten.Web.Models.AuthenticatedVM
@{
    ViewBag.Title = "Index";
}

@section Head {
    @Styles.Render("~/bundles/appstyle")
}

<h2 data-bind="text: openRepository() ? openRepository().repositoryName : 'Repositories'">Repositories</h2>
<div data-bind="with: repositoriesVM,visible: !openRepository()">
    <ul data-bind="foreach: repositories">
        <li data-bind="text: name,click: $parent.loadRepo"></li>
    </ul>
</div>
<div data-bind="with: openRepository,visible: openRepository()" class="board">
    <div class="left">
        <ul class="list" data-bind="foreach: milestones">
            <li class="listitem" data-bind="text: name || title"></li>
        </ul>
        <ul class="list" data-bind="draggable: { foreach: labels.labels,collection:labels, options: {group: 'labels'} }">
            <li class="listitem">
                <i class="listitemBadge" data-bind="style: {'background-color':'#' + color()}"></i>
                <span data-bind="text: name() + issues().length"></span>
            </li>
        </ul>
    </div>
    <div class="main">
        <div style="min-height:200px;min-width: 200px;background: #eee;white-space:nowrap" data-bind="sortable: {foreach: labels.lists,collection:labels, options: {group: 'labels',handle:'.boardListHeader', onAdd: function(e,label){label.isIssueList(true);}} }">
            <div class="boardList">
                <div class="boardListHeader" data-bind="style: {'background-color':'#' + color()},css:{'is-dark': color.isDark}">
                    <span data-bind="text:name"></span>
                </div>
                <div data-bind="sortable: {foreach:issues,collection:$parent.issues, options:{group:'issues',onAdd:function(e){e.cancelBubble = true;},onRemove: function(e){e.cancelBubble = true;},onUpdate: function(e){e.cancelBubble = true;}}}">
                    <div class="boardListItem" data-bind="text: title"></div>
                </div>
                <div class="boardListItem">Add issue</div>
            </div>
        </div>
    </div>
    <div class="boardButton">
        <text-toggle params="text:'Add list', commit: $root.repository.addLabel,commitParams: [$data,true]"></text-toggle>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/application")

    <script>
        application.init(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
    </script>
}